@model AS.DATA.EF.Models.Region

@{
    ViewData["Title"] = "Delete " + Model.RegionName;
}

<h1 style="margin-left: 1.5em;">@ViewData["Title"]</h1>


<h3 style="margin-left: 2.2em;">Are you sure you want to delete @Model.RegionName?</h3>
<div>
    @*<h4>Region</h4>*@
    <hr />
    <dl class="row" style="margin-left: 3em;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegionId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-left: 3.5em" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
