@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 p-4 d-flex justify-content-center">
                            <img src="~/img/logo-no-background_600x600.png" class="img-fluid" style="height: 450px !important; width:450px !important" align="center" />
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <div class="p-5 my-auto">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
                                    <p >
                                        Please check your email to reset your password.
                                    </p>
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-user btn-block">
                                        Return to Login
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="p-5">
    <h1 class="text-light">@ViewData["Title"]</h1>
    <p class="h4 mb-4 text-light">
        Please check your email to reset your password.
    </p>
    <button class="btn btn-primary btn-user btn-block">Return to Login </button>
</div>*@
