@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 p-4 d-flex justify-content-center">
                            <img src="~/img/logo-no-background_600x600.png" class="img-fluid" style="height: 450px !important; width:450px !important" align="center" />
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <div class="p-5 my-auto">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
                                </div>
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="Input.Email" class="form-control form-control-user"
                                               id="exampleInputEmail" aria-describedby="emailHelp" aria-required="true"
                                               placeholder="Enter Email Address..." autocomplete="username" />
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Resend
                                    </button>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a asp-area="Identity" asp-page="/Account/Login">Return to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@